 <!-- QUIENES SOMOS -->
 <section id="aboutus" class="aboutus">
    <div class="abouttext">
        <ul>
            <li>
                <i class="fa-solid fa-bookmark"></i>
                <p>"Diseñamos tu presencia digital a medida".</p>
            </li>
            <li>
                <i class="fa-solid fa-bookmark"></i>
                <p>"Construimos tu sitio web con pasión y dedicación".</p>
            </li>
            <li>
                <i class="fa-solid fa-bookmark"></i>
                <p>"Creamos sitios web atractivos y funcionales".</p>
            </li>
            <li>
                <i class="fa-solid fa-bookmark"></i>
                <p>"Transformamos tus ideas en realidad digital".</p>
            </li>
        </ul>
    </div>
</section>
