<!-- HERO -->
<section class="hero">
    <div class="uno"><img src="assets/herov4.jpg" alt=""></div>
    <div class="dos">
        <h2>Necesitas llegar a más clientes?</h2>
        <h2>Necesitas que tu Negocio sea reconocido?</h2>
        <div class="btn">
            <button><a href="mailto:cristiangonzz@gmail.com? subject=subject text" target="_blank">CONTACTANOS!!!</a></button>
        </div>
        
    </div>
    <div class="tres">
       <h1>"Juntos, llevamos tu presencia en línea al siguiente nivel."</h1> 
    </div>
</section>
