
<!-- PROJECTS -->
<section id="projects">
    <h3>PROJECTS</h3>
    <div class="container">
        <div class="evento">
            <div class="foto" data-aos="fade-right">
                <img src="assets/gallery1.jpg" alt="">
            </div>
            <h3 class="fecha"><a href="https://thehouseofartg.web.app" target="_blank">The House Of Art</a> </h3>
        </div>
        <div class="evento">
            <div class="foto" data-aos="fade-left">
                <img src="assets/gallery2.jpg" alt="">
            </div>
            <h3 class="fecha"><a href="https://giulianaweb-c0c35.web.app" target="_blank">Web Dancer</a></h3>
        </div>
        <div class="evento">
            <div class="foto" data-aos="fade-right">
                <img src="assets/gallery3.jpg" alt="">
            </div>
            <h3 class="fecha"><a href="https://portfoliocg-df90e.web.app" target="_blank">Proyect ArgPrograma</a>
            </h3>
        </div>
        <div class="evento">
            <div class="foto" data-aos="fade-left">
                <img src="assets/gallery4.jpg" alt="">
            </div>
            <h3 class="fecha"><a href="#" target="_blank">Soon</a></h3>
        </div>
        <div class="evento">
            <div class="foto" data-aos="fade-right">
                <img src="assets/gallery5.jpg" alt="">
            </div>
            <h3 class="fecha"><a href="#" target="_blank">Soon</a></h3>
        </div>
        <div class="evento">
            <div class="foto" data-aos="fade-left">
                <img src="assets/gallery6.jpg" alt="">
            </div>
            <h3 class="fecha"><a href="#" target="_blank">Soon</a></h3>
        </div>
    </div>


</section>
