
<!-- BIOGRAPHY -->
<section id="biography">
    <h3>BIOGRAPHY-CEO</h3>
    <div class="bio_grid">
        <div class="img_cont">
           <img class="bio_img" src="assets/biographysfondo.png" alt=""> 
        </div>
        
        
        <div class="bio_text">
            <div><p>Jesús Christian es un apasionado programador web full stack y diseñador Front End que reside en
                Argentina. Es CEO y fundador de Gaspar Web Code, una empresa de diseño web que ofrece servicios a
                nivel mundial y que se enfoca en responder a las necesidades comerciales de clientes particulares.
                Con su experiencia como freelancer, Jesús Christian se ha destacado en el mercado y se ha ganado la
                confianza de sus clientes al entregar proyectos de alta calidad.</p></div>
        </div>
        <div class="bio_text">
            <div><p>A pesar de su éxito, Jesús Christian sigue buscando mejorar y mantenerse actualizado en el mundo de
                la programación. Actualmente, se está capacitando en diferentes ramas como el Responsive Design,
                Javascript, Estructura de datos, entre otros, para poder brindar el mejor servicio posible y superar
                las expectativas de sus clientes. Su dedicación y compromiso en este campo lo han llevado a ser
                reconocido como un experto en su área y a ser considerado un líder en la industria del diseño web.
            </p></div>
        </div>
        <button type="button" class="bio_button">
            <a href="#">
                Mas Información
            </a>
        </button>
        <!-- <div *ngIf="isLogged">
            <button routerLink="/editPersona/{{Persona.id}}">
                Edit Biography
            </button>
        </div> -->
    </div>
</section>