/* BIOGRPHY */

#biography{
    margin: auto;
    width: 80vw;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding-top: 40px;
    justify-content: center;
}
#biography h3{
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-size: 35px;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
}
.bio_grid{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom:1px solid #dcdcdc;
    padding-bottom: 10px;
    margin: auto;

}

.bio_text{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    margin-top: 10px;
}
.bio_text p{
    margin-bottom: 20px;
    margin-top: 10px;
}

.img_cont{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #dcdcdc;
    filter: drop-shadow(0 0 20px #dcdcdc);
    margin: auto;

}
.img_cont img {
    position: relative;
    top: -70px;
    width: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 50px;
    
}

.bio_button{
    width: 20%;
    height: 40px;
    margin: auto;
    border-radius: 8px;
    border: none;
    
    margin-bottom: 40px;
}
.bio_button a{
    font-size: 15px;
    color: #383838;
}

.bio_button:hover{
    background-color: #e94b0d;
    filter: drop-shadow(0 0 20px #e94b0d);
    
}
.bio_button a:hover{
    color: #dcdcdc;
}

/* RESPONSIVE BIOGRAPHY */
@media only screen and (max-width: 1000px){
    

}


@media only screen and (max-width: 900px){
    .bio_button{
        width: 30%;
    }
}

@media only screen and(max-width: 700px){
    .bio_grid img{
        width: 50%;
        height: auto;
    }

    .bio_text p{
        font-size: 9px;
        
    }
    .bio_button{
        width: 60%;
    }
   
    
}

@media only screen and (max-width: 500px){
    .bio_button{
        width: 60%;
    }
}
